<footer>
    <div class="wrapper">
        <ul>
            <li>New York Restaurant</li>
            <li>3926 Anmoore Road</li>
            <li>New York, NY 10014</li>
            <li>718-749-1714</li>
        </ul>
        <ul>
            <li>France Restaurant</li>
            <li>68, rue da le Couronne</li>
            <li>75002 PARIS</li>
            <li>02.94.23.69.56</li>
        </ul>
        <ul>
            <li><a href="">Blog</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <ul>
            <li><img src="images/white-logo.png" alt="logo"></li>
            <li>&copy; All rights reserved 2015</li>
        </ul>
    </div>
</footer>
