
<header class="headerColor">
    <div class="wrapper">
        <div class="navbar-brand">
           <img src="~/Images/weblogo.png" class="img-sm"/>
        </div>
        <nav>
            <a class="burger-nav"></a>
            <h2>Main Navigation</h2>
            <ul>
                <li><a href="">Our Story</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Reservations</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Reviews</a></li>
            </ul>
        </nav>
    </div>
</header>


